<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Payload</title>
    <link rel="stylesheet" href="../static/style.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        // JavaScript函数，用于触发Python脚本执行
        function callPythonFunction() {
            // 使用Ajax发送POST请求给Flask后端
            $.ajax({
                type: "POST",
                url: "/",
                success: function(response){
                    // 这里处理成功后的响应
                    console.log(response);
                    alert('Python脚本执行成功！');
                },
                error: function(error){
                    // 这里处理错误情况
                    console.error(error);
                    alert('Python脚本执行失败！');
                }
            });
        }
    </script>
  </head>

  <body>
    <div class="container">
      <div class="sidebar">
        <!-- 左边的目录 -->
	<img src="{{ url_for('static', filename='images/GAPSLOGO_2023.png') }}"height="170" alt="Description">
        <ul>
          <h2><a href={{ url_for('index')}}>Dashboard</a></h2>
          <h2><a href={{ url_for('TOF')}}>TOF</a></h2>
          <h2><a href={{ url_for('power_load')}}>Tracker</a></h2>
          <h2><a href={{ url_for('Thermal')}}>Thermal</a></h2>
          <h2><a href={{ url_for('Payload')}}>Payload</a></h2>

          <!-- 添加更多目录项 -->
        </ul>
      </div>
      <div class="right-column">
      <div class="main-content2">  

	<div id="section2" class="section">
    <div style="text-align: center;">
    <h1> Payload</h1>
  </div>
  <div style="text-align: center;">
    <h2>PDU</h2>
    <select name="selecttime" >
    	<option value="60" >60 min</option>
   	  <option value="30" >30 min</option>
	    <option value="15">15 min</option>
    	<option value="5"selected>5 min</option>
    </select>
   	  <input type="text" name="timeperiod" placeholder="Enter your time period (min)">
      <input type="text" name="timebegin" placeholder="Begin %Y/%m/%d/%H/%M">
      <input type="text" name="timeend" placeholder="End %Y/%m/%d/%H/%M">
      <button type="submit" onClick="callPythonFunction()">Submit</button>
  </div>
  <img alt="test" src="{{ url_for('static', filename='images/pdu_test_0.png') }}">
  <img alt="test" src="{{ url_for('static', filename='images/pdu_voltage_pdu0.png') }}">
  <img alt="test" src="{{ url_for('static', filename='images/pdu_current_pdu0.png') }}">
  <img alt="test" src="{{ url_for('static', filename='images/pdu_power_pdu0.png') }}">
  <img alt="test" src="{{ url_for('static', filename='images/pdu_temp_pdu0.png') }}">

  <img alt="test" src="{{ url_for('static', filename='images/pdu_test_2.png') }}">
  <img alt="test" src="{{ url_for('static', filename='images/pdu_voltage_pdu2.png') }}">
  <img alt="test" src="{{ url_for('static', filename='images/pdu_current_pdu2.png') }}">
  <img alt="test" src="{{ url_for('static', filename='images/pdu_power_pdu2.png') }}">
  <img alt="test" src="{{ url_for('static', filename='images/pdu_temp_pdu2.png') }}">
  <img alt="test" src="{{ url_for('static', filename='images/pdu_test_3.png') }}">
  <img alt="test" src="{{ url_for('static', filename='images/pdu_voltage_pdu3.png') }}">
  <img alt="test" src="{{ url_for('static', filename='images/pdu_current_pdu3.png') }}">
  <img alt="test" src="{{ url_for('static', filename='images/pdu_power_pdu3.png') }}">
  <img alt="test" src="{{ url_for('static', filename='images/pdu_temp_pdu3.png') }}">
  
  </div></div>
  
</div> 
</div>
  </body>
</html>


